# IntelliJ IDEA specific files
.idea/
*.iml
*.iws
out/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific files
.gradle/
build/

# Eclipse specific files
.project
.classpath
.settings/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux specific files
*~

# Ignore everything in the target directory
target/


